#dform_container .address-search {
    margin-block: var(--spacing-md);
}

#dform_container .address-search input[type="text"] {
    width: 200px;
}

#dform_container .address-search-btn-container {
    margin-block: var(--spacing-md) 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
}

#dform_container .address-search-btn-container.margin-bottom {
    margin-block: var(--spacing-md);
}

#dform_container button.address-search-btn,
#dform_container button.address-search-btn:hover,
#dform_container button.address-search-btn:focus,
#dform_container button.set-address-btn,
#dform_container button.set-address-btn:hover,
#dform_container button.set-address-btn:focus {
    color: var(--c-greys-white);
    background: var(--c-alerts-success);
    border: solid 2px var(--c-alerts-success);
}

#dform_container button.search-again-btn {
    display: inline;
    margin-left: var(--spacing-xs);
    color: var(--c-links-link);
    text-underline-offset: 0.25rem;
}

#dform_container address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    padding-left: var(--spacing-md) !important;
    border-left: solid var(--spacing-xxs) var(--c-brand-accents-teal) !important;
}

#dform_container .map-container .details-accordion .details-accordion-content {
    padding-bottom: 0;
}

#dform_container .map-container .address-selection-section {
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-xs) var(--spacing-md);
    border: solid var(--spacing-xxs) var(--c-greys-slate);
}

#dform_container .map-container .address-selection-section p {
    margin-top: 0;
}

#dform_container .map-container .address-selection-section p strong {
    font-weight: var( --font-weight-semibold);
    display: block;
}

#dform_container .map-container #selected-address > address {
    display: block;
    border-left: none !important;
    padding-left: 0 !important;
}

#dform_container button.link-btn.locator-icon::before {
  content: url(./icons/location-primary-darkened.svg);
  align-items: center;
  justify-content: center;
  height: var(--font-size-xs);
  width: var(--font-size-xs);
  margin-right: var(--spacing-xs);
  background: transparent;
  transform: translateY(-6px);
}

#dform_container #dform_widget_button_but_use_current_location {
    font-size: var(--font-size-sm);
    text-decoration: underline;
    text-underline-offset: 0.32rem;
    font-weight: var(--font-weight-semibold);
}

#dform_container .map-container #map_container {
    height: 25rem;
    border-radius: unset;
    border: none;
}

#map_container .esri-attribution {
    display: none;
}



div.esri-component.esri-search.esri-widget > div {
    margin-left: -140% !important;
    margin-top: 20% !important;
  }
  
  .esri-search__submit-button {
    margin: 0 !important;
    min-width: 5rem !important;
  }
  
  .esri-search__submit-button:hover {
    color: var(--color-white) !important;
    background: var(--color-primary) !important;
  }