#dform_container .dform_widget_type_buttonset {
    margin-block: var(--spacing-xl);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--spacing-sm);
  }
  
  #dform_container .dform_widget_type_buttonset.vertical {
    flex-direction: column;
  }
  
  #dform_container button,
  #dform_container button.link-btn,
  #dform_container a.link-btn {
    font-family: var(--font-family);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height);
    margin: 0;
    padding: var(--spacing-xs) var(--spacing-md);
    text-decoration: none;
    cursor: pointer;
    color: var(--c-core-brand-primary-darken);
    background: var(--c-greys-white);
    border: solid 2px var(--c-core-brand-primary-darken);
    border-radius: 1.5625rem;
    min-width: 8.75rem;
    width: max-content;
    min-height: var(--field-height-sm);
    height: var(--field-height-md);
    max-height: 8.75rem;
    transition: all 0.2s ease;
  }
  
  #dform_container a.link-btn,
  #dform_container button.link-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: fit-content;
    width: fit-content;
    max-width: fit-content;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
    color: var(--c-links-link) !important;
    border: none;
    border-radius: 0;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
  
  /* --- FIND ON MAP --- */
  
  #dform_container button.link-btn.map-icon::before {
    content: "\e921";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--field-height-sm);
    width: var(--field-height-sm);
    margin-right: 1rem;
    padding: 1rem;
    font-family: icomoon;
    font-size: var(--font-size-lg);
    color: var(--c-greys-white);
    background: var(--c-core-brand-primary-darken);
  }
  
  #dform_container button.link-btn.map-icon.disabled::before {
    content: "\e921";
    font-family: icomoon;
    color: var(--c-greys-white);
    background: var(--c-core-brand-primary-darken);
    border: solid 0.1rem var(--c-core-brand-primary-darken);
    cursor: not-allowed;
    outline: none;
  }
  
  #dform_container button.link-btn.map-icon.disabled:hover::before {
    color: var(--c-greys-white);
  }
  
  /* --- FIND VIA GEO LOCATION --- */
  
  #dform_container button.geo-btn.dform_widget_type_button {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: var(--spacing-sm);
    align-items: center;
    justify-items: start;
    padding: 0;
    font-size: var(--font-size-base);
    text-align: unset;
    background: transparent;
    border: none;
  }
  
  #dform_container button.geo-btn.dform_widget_type_button::before {
    content: "\e918";
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    transform: translateY(-3px);
    height: var(--field-height-sm);
    width: var(--field-height-sm);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-lg);
    font-family: icomoon;
    color: var(--c-greys-white);
    background: var(--c-core-brand-primary-darken);
  }
  
  #dform_container button.geo-btn.dform_widget_type_button::after {
    content: "(only works on a device with geolocation)";
    color: var(--c-core-brand-body);
    display: block;
    font-family: var(--font-family);
    font-weight: vasr(--font-weight-normal);
    font-size: var(--font-size-base);
    line-height: var(--line-height-body);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-color: var(--c-greys-white);
  }
  
  /* --- BUTTON HOVER/FOCUS --- */
  
  #dform_container button:hover,
  #dform_container button:focus {
    color: var(--c-core-brand-primary-darken);
    background: var(--c-greys-white);
    border-color: var(--c-core-brand-primary-darken);
  }
  
  #dform_container button:focus {
    border-radius: 1.5625rem;
    outline: 3px solid var(--c-focus-links) !important;
    outline-offset: 0 !important;
  }
  
  #dform_container a.link-btn:hover,
  #dform_container button:hover {
    color: var(--c-links-link);
    box-shadow: none;
  }
  
  #dform_container a.link-btn:focus,
  #dform_container button.link-btn:focus {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    outline-offset: 4px !important;
  }
  
  #dform_container button.primary-btn,
  #dform_container button.primary-btn:hover {
    color: var(--c-greys-white);
    background: var(--c-alerts-success);
    border-color: var(--c-alerts-success);
  }
  
  #dform_container button.disabled,
  #dform_container button[disabled],
  #dform_container button.disabled:hover,
  #dform_container button[disabled]:hover {
    color: var(--c-core-brand-primary-darken);
    background: var(--c-greys-white);
    border-color: var(--c-core-brand-primary-darken);
    cursor: not-allowed;
  }
  
  button[disabled] {
    cursor: not-allowed !important;
  }