#dform_container .dform_widget_type_buttonset {
  margin-block: var(--spacing-xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--spacing-sm);
}

#dform_container .dform_widget_type_buttonset.vertical {
  flex-direction: column;
}

#dform_container button,
#dform_container button.link-btn,
#dform_container button.secondary-link-btn,
#dform_container button.action-link-btn,
#dform_container a.button {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  margin: 0;
  padding: var(--spacing-xs) var(--spacing-md);
  text-decoration: none;
  cursor: pointer;
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border: solid 2px var(--c-core-brand-primary-darken);
  border-radius: 1.5625rem !important;
  min-width: 8.75rem;
  width: max-content;
  min-height: var(--field-height-sm);
  height: var(--field-height-md);
  max-height: 8.75rem;
  transition: all 0.2s ease;
}

#dform_container button.success-btn {
  color: var(--c-greys-white);
  background: var(--c-alerts-success);
  border: solid 2px var(--c-alerts-success);
}

#dform_container button.danger-btn {
  color: var(--c-greys-white);
  background: var(--c-alerts-danger);
  border: solid 2px var(--c-alerts-danger);
}

#dform_container button.primary-btn {
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border: solid 2px var(--c-core-brand-primary-darken);
}

#dform_container button.secondary-btn {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  border: solid 2px var(--c-core-brand-primary-darken);
}

#dform_container button.teal-btn {
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
  border: solid 2px var(--c-brand-accents-teal);
}

#dform_container button.accent-2-btn {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-core-brand-accent-2);
  border: solid 2px var(--c-core-brand-accent-2);
}

#dform_container a.button {
  margin-block: var(--spacing-xl);
}

#dform_container a.link-btn,
#dform_container button.link-btn,
#dform_container button.secondary-link-btn,
#dform_container button.action-link-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: fit-content;
  width: fit-content;
  max-width: fit-content;
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  color: var(--c-core-brand-primary-darken);
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  /* text-underline-offset: 0.25rem; */
}

#dform_container button.secondary-link-btn {
  color: var(--c-brand-accents-teal);
}

/* --- ACTION LINK --- */

#dform_container button.action-link-btn {
  padding: 5px 1px;
  font-weight: var(--font-weight-semibold);
}

#dform_container button.action-link-btn::before {
  content: url(./icons/arrow-right-primary-darkened.svg);
  align-items: center;
  justify-content: center;
  height: var(--field-height-md);
  width: var(--field-height-md);
  margin-right: 1rem;
  padding: 0.8rem;
  background: var(--c-core-brand-accent-2);
  border-radius: 100%;
}

/* --- FIND ON MAP --- */

#dform_container button.link-btn.map-icon {
  font-weight: var(--font-weight-semibold);
}

#dform_container button.link-btn.map-icon::before {
  content: url(./icons/location-white.svg);
  align-items: center;
  justify-content: center;
  height: var(--field-height-md);
  width: var(--field-height-md);
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  background: var(--c-core-brand-primary-darken);
}

#dform_container button.link-btn.map-icon.disabled::before {
  content: "";
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border: solid 0.1rem var(--c-core-brand-primary-darken);
  cursor: not-allowed;
  outline: none;
}

/* --- FIND VIA GEO LOCATION --- */

#dform_container button.geo-btn.dform_widget_type_button {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: var(--spacing-sm);
  align-items: center;
  justify-items: start;
  padding: 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  text-align: unset;
  background: transparent;
  border: none;
}

#dform_container button.geo-btn.dform_widget_type_button::before {
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-items: center;
  justify-items: center;
  transform: translateY(-3px);
  height: var(--field-height-md);
  width: var(--field-height-md);
  background: var(--c-core-brand-primary-darken);
}

#dform_container button.geo-btn.dform_widget_type_button::after {
  content: "(only works on a device with geolocation)";
  color: var(--c-core-brand-body);
  display: block;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--c-greys-white);
}

/* --- BUTTON HOVER/FOCUS --- */

#dform_container button:hover,
#dform_container button:active,
#dform_container a.button:hover {
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
  border-color: var(--c-brand-accents-teal);
  box-shadow: none;
}

#dform_container button:focus,
#dform_container a.button:focus,
#dform_container a.button:active {
  color: var(--c-greys-black);
  background: var(--c-focus-links);
  border-color: var(---c-focus-links);
  box-shadow: none;
  outline: none;
}

#dform_container button.teal-btn:hover{
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border-color: var(--c-core-brand-primary-darken);
  box-shadow: none;
}

#dform_container button.secondary-btn:hover {
  color: var(--c-brand-accents-teal);
  background: var(--c-greys-white);
  border-color: var(--c-brand-accents-teal);
  box-shadow: none;
}

#dform_container a.link-btn:hover,
#dform_container a.link-btn:focus,
#dform_container a.link-btn:active,
#dform_container button.link-btn:hover {
  color: var(--c-brand-accents-teal);
  background: transparent;
  text-decoration: underline;
  box-shadow: none;
}

#dform_container button.secondary-link-btn:hover,
#dform_container button.secondary-link-btn:focus,
#dform_container button.secondary-link-btn:active {
  color: var(--c-greys-black);
  background: transparent;
  text-decoration: underline;
  box-shadow: none;
}

#dform_container a.link-btn:focus,
#dform_container button.link-btn:focus {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

#dform_container button.action-link-btn:hover {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  text-decoration: underline;
}

#dform_container .dform_widget_type_buttonset.action-link-btn-container:focus-within {
  width: max-content;
  background: var(--c-focus-links);
  border-bottom: 2px solid var(--c-greys-black);
}

#dform_container button.action-link-btn:focus {
  color: var(--c-greys-black);
  background: var(--c-focus-links);
  outline: none;
}

#dform_container button.action-link-btn:focus::before {
  content: url(./icons/arrow-right-focus-link.svg);
  background: var(--c-greys-black);
}