#dform_container div[data-type="file"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: 14.6rem auto;
    align-items: center;
  }
  
  #dform_container input[type="file"] {
    padding-inline: 1rem !important;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    z-index: 0;
    background: var(--c-greys-white);
    border: 0.4rem transparent var(--c-greys-black);
  }
  
  #dform_container input[type="file"]:focus,
  #dform_container input[type="file"]:focus-within {
    background: var(--c-greys-white);
  }
  
  #dform_container .dform_filenames {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    max-width: 95%;
    z-index: 1;
    background: var(--c-greys-white);
    overflow: hidden;
  }
  
  #dform_container .dform_filenames:focus,
  #dform_container .dform_filenames:focus-within,
  #dform_container input[type="file"]:focus ~ .dform_filenames,
  #dform_container input[type="file"]:focus-within ~ .dform_filenames {
    background: var(--c-greys-white);
  }
  
  #dform_container
    :has(.dform_filenames:focus, .dform_filenames:focus-within)
    input[type="file"] {
    background: var(--c-greys-white);
  }
  
  #dform_container .dform_filenames > span {
    display: inline-block;
    cursor: pointer;
    margin-right: 1rem;
    padding: var(--spacing-xxs);
    border: none;
  }
  
  #dform_container .dform_filenames > span a:hover {
    color: var(--c-greys-black);
  }
  
  #dform_container .file_delete {
    padding: var(--spacing-xxs);
    outline: 0.4rem solid transparent;
  }
  
  #dform_container div[data-type="file"] > div:nth-child(2) br,
  #dform_container .dform_fileupload_progressbar {
    display: none;
  }