.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header > .service-header-bar,
  #widget_Navigation > div,
  #dform_controls,
  #dform_pageholder,
  #dform_container .dform_message,
  #FooterAreaInSingleColumnNoNavigationTemplate {
    margin: 0 auto;
    width: clamp(var(--min-content-width), auto, var(--max-content-width));
    padding: var(--spacing-sm) clamp(20px, 10vw, 146px) !important;
  }
  
  #dform_pageholder {
    padding-block: 0;
  }
  
  #dform_container .dform_message {
    padding: var(--spacing-lg) clamp(20px, 10vw, 146px) !important;
  }
  
  .content {
    flex-grow: 1;
    margin: unset;
    padding: unset;
  }
  
  #dform_container,
  #dform_control_buttons > ul > li:nth-child(1) {
    margin: unset;
    padding: unset;
  }
  
  #dform_container .container .area .box {
    max-width: 47.6875rem;
  }