.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header>.service-header-bar,
#widget_Navigation>div,
#dform_controls,
#dform_pageholder,
#dform_container .dform_message,
#FooterAreaInSingleColumnNoNavigationTemplate,
#dform_pagenav,
#dform_holder {
  float: unset !important;
  margin: 0 auto !important;;
  width: auto !important;;
  max-width: 87.5rem !important;;
  /* padding-inline: 15px; */
  padding: var(--spacing-sm) clamp(20px, 10vw, 126px) !important;
}

#dform_pageholder {
  padding-block: 0;
}

#dform_container .dform_message {
  /* padding-inline: 15px; */
  padding: var(--spacing-sm) clamp(20px, 10vw, 126px) !important;
}

/* @media screen and (min-width: 600px) {
  .header>.service-header-bar,
  #widget_Navigation>div,
  #dform_controls,
  #dform_pageholder,
  #dform_container .dform_message,
  #FooterAreaInSingleColumnNoNavigationTemplate,
  #dform_pagenav,
  #dform_holder {
    padding-inline: 15px;
  }

  #dform_container .dform_message {
    padding-inline: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header>.service-header-bar,
  #widget_Navigation>div,
  #dform_controls,
  #dform_pageholder,
  #dform_container .dform_message,
  #FooterAreaInSingleColumnNoNavigationTemplate,
  #dform_pagenav,
  #dform_holder {
    padding-inline: 15px;
  }

  #dform_container .dform_message {
    padding-inline: 15px;
  }
}

@media screen and (min-width: 960px) {
  .header>.service-header-bar,
  #widget_Navigation>div,
  #dform_controls,
  #dform_pageholder,
  #dform_container .dform_message,
  #FooterAreaInSingleColumnNoNavigationTemplate,
  #dform_pagenav,
  #dform_holder {
    1400px - (126 * 2) = 1148px
    padding: var(--spacing-sm) clamp(20px, 10vw, 126px) !important;
    padding-inline: 146px;
  }

  #dform_container .dform_message {
    padding: var(--spacing-lg) clamp(20px, 10vw, 126px) !important;
    padding-inline: 146px;
  }
} */

.content {
  flex-grow: 1;
  margin: unset;
  padding: unset;
}

#dform_container,
#dform_control_buttons>ul>li:nth-child(1) {
  margin: unset;
  padding: unset;
}

#dform_container .dform_widget_field,
#dform_container .dform_widget_type_html {
  margin-block: var(--spacing-md);
}

#dform_container .make-header {
  margin-top: var(--spacing-lg);
}

#dform_container .container .area .box {
  max-width: 47.6875rem;
}

#dform_container .container .area .box.conditional>div {
  padding-left: var(--spacing-md) !important;
  border-left: solid var(--spacing-xxs) var(--c-brand-accents-teal) !important;
}