#home #dform_controls,
#dform_pageholder {
  padding: 0 !important;
}

#home #dform_container .container .area .box,
#home #dform_container .container>.three {
  width: 100%;
  /* max-width: 47.6875rem; */
  max-width: 100%;
}

#dform_page_page_dashboard>div.container.area.dform_section_area_other_contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1050px) {
  #dform_page_page_dashboard>div.container.area.dform_section_area_other_contacts {
    flex-direction: row;
  }

  #home #dform_container .container>.three {
    width: 35%;
  }
}

#dform_widget_html_ahtm_finish_profile {
  margin-top: 0 !important;
}

#dform_container div.box.dashboard-details-header fieldset>legend {
  margin: 0;
  background: var(--c-greys-white);
  padding: var(--spacing-sm);
  border-radius: 1.5625rem 1.5625rem 0 0 !important;
  transform: translateX(3px);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

#dform_container .dashboard-details-container {
  margin: 0;
  margin-bottom: var(--spacing-xl);
  background: var(--c-greys-white);
  padding: var(--spacing-sm);
  border-radius: 0 1.5625rem 1.5625rem !important;
}

/* QUICK LINKS */

#dform_container #dform_widget_buttonset_bset_quick_links {
  justify-content: space-between;
  margin-block: var(--spacing-xs);
  gap: var(--spacing-xl);
}

#dform_container #dform_widget_buttonset_bset_quick_links button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  border-radius: 40px !important;
  flex-grow: 1;
  text-align: start;
  background: var(--c-greys-white);
  color: var(--c-core-brand-primary-darken);
  border-color: var(--c-brand-accents-teal);
}

#dform_container #dform_widget_buttonset_bset_quick_links button:hover {
  background: var(--c-brand-accents-teal);
  color: var(--c-greys-white);
  border-color: var(--c-core-brand-primary-darken);
}

#dform_container #dform_widget_buttonset_bset_quick_links button:focus {
  background: var(--c-focus-links);
  color: var(--c-greys-black);
  border-color: var(--c-focus-links);
}

#dform_container #dform_widget_buttonset_bset_quick_links button::after {
  content: url(./icons/arrow-right-primary-darkened.svg);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  line-height: var(--line-height);
}

#dform_container #dform_widget_buttonset_bset_quick_links button:hover::after {
  content: url(./icons/arrow-right-white.svg);
}

#dform_container #dform_widget_buttonset_bset_quick_links button:focus::after {
  content: url(./icons/arrow-right-black.svg) !important;
}

#dform_container #location-results {
  color: var(--c-brand-accents-teal);
  font-weight: var(--font-weight-semibold);
}

/* MOST POPULAR */

.dform_section_box_most_popular fieldset>legend::before {
  content: url(./icons/thumb-up.svg);
  width: var(--font-size-xxxl);
  height: var(--font-size-xxxl);
  line-height: var(--line-height);
}

#dform_container .dashboard-details-container .card,
#dform_container .dashboard-details-container .card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dform_container .dashboard-details-container .card {
    gap: var(--spacing-md);
    flex-grow: 1;
    padding: var(--spacing-md) var(--spacing-sm);
    border: 3px solid var(--c-core-brand-primary-darken);
    border-radius: 1.5625rem;
}

#dform_container .dashboard-details-container .card div {
    gap: var(--spacing-sm);
    flex-grow: 1;
    background: transparent;
}

#dform_container .dashboard-details-container .card div *,
#dform_container .dashboard-details-container .card a.button {
    margin: 0 !important;
    color: var(--c-greys-white);
}

#dform_container .dashboard-details-container .card.school {
    background: var(--c-purple);
    border-color: var(--c-purple-darken);
}

#dform_container .dashboard-details-container .card.council-tax {
    background: var(--c-brand-accents-teal);
    border-color: var(--c-core-brand-primary);
}

#dform_container .dashboard-details-container .card.council-tax p {
    text-align: center;
}

#dform_container .dashboard-details-container .card.recycling {
    background: var(--c-alerts-success);
    border-color: var(--c-alerts-success-darken);
}

#dform_container .dashboard-details-container .card.recycling ul {
  list-style: none;
  text-align: center;
}

#dform_container .dashboard-details-container .card.recycling ul li {
  /* content: url(./icons/arrow-right-white.svg);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  line-height: var(--line-height); */
  .links li::before {
    content: '→';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-base);
  }
}

#dform_container .dashboard-details-container .card a.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
    background: transparent;
    color: var(--c-greys-white);
    border-color: var(--c-greys-white);
}

#dform_container .dashboard-details-container .card a.button::after {
  content: url(./icons/chevron-right-white.svg);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  line-height: var(--line-height);
}

#dform_container .dashboard-details-container .card a.button:hover {
  background: var(--c-greys-white);
  color: var(--c-brand-accents-teal);
  border-color: var(--c-brand-accents-teal);
}

#dform_container .dashboard-details-container .card a.button:focus {
  background: var(--c-focus-links);
  color: var(--c-greys-black);
  border-color: var(--c-focus-links);
}

#dform_container .dashboard-details-container .card a.button:hover::after {
  content: url(./icons/chevron-right-teal.svg);
}

#dform_container #dform_widget_buttonset_bset_quick_links button:focus::after {
  content: url(./icons/chevron-right-black.svg) !important;
}