#dform_container .dform_info,
#dform_container .dform_success,
#dform_container .dform_warning,
#dform_container .dform_error {
  border: none;
  border-radius: unset;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  background-color: transparent;
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
}

#dform_container .dform_infoMessage_outer {
  background: var(--c-brand-accents-teal);
}

#dform_container .dform_success,
#dform_container .dform_successMessage_outer {
  background: var(--c-alerts-success);
}

#dform_container .dform_error,
#dform_container .dform_errorMessage_outer {
  background: var(--c-alerts-danger);
}

#dform_container .dform_warning,
#dform_container .dform_warningMessage_outer {
  color: var(--c-greys-black);
  background: var(--c-alerts-warning);
}

#dform_container .dform_success:before,
#dform_container .dform_info:before,
#dform_container .dform_warning:before,
#dform_container .dform_error:before {
  display: inline-block;
  margin-right: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
  width: var(--font-size-xxxxl);
  line-height: var(--line-height);
  transform: translateY(8px);
}

#dform_container .dform_success:before {
  content: url(../icons/circle-check-success-white.svg);
}

#dform_container .dform_info:before {
  content: url(../icons/circle-info-white.svg);
}

#dform_container .dform_error:before {
  content: url(../icons/triangle-exclamation-danger-white.svg);
}

#dform_container .dform_warning:before {
  content: url(../icons/triangle-exclamation-danger-black.svg);
}